*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
header{
  min-height: 40px;
  background-color: gray;
  text-align: center;
}
nav{
  min-height: 10px;
  background-color: lightgray;
  text-align: center;
}
nav li {
  display: inline-block;
  margin: 4px;
}
nav li a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
main{
  min-height: 80vh;
  background-color: lightblue;
  padding: 8px;
}
main section{
  float: left;
  width: 70%;
  background-color: aqua;
}
main aside{
  float: right;
  width: 30%;
  vertical-align: top;
  background-color: #777;
  position: fixed;
  right: 0;
  text-align: center;
}
footer{
  background-color: red;
  z-index: 1;
  padding: 8px;
  text-align: center;
}