*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.container{
  width: 70%;
  margin: 0 auto;
}
header{
  min-height: 20px;
  background-color: #777;
  color: #fff;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li{
  display: inline-block;
  list-style-type: none;
  margin-right: 4px;
}
header a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* main .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
main .container .showcase li{
  list-style-type: none;
}
main .container .showcase figure{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 8px 0;
}
figcaption{
  font-size: 20px;
  font-weight: bold;
}
table, th, tr, td{
  border: 1px solid #333;
  width: 500px;
}
li{
  list-style-type: none;
}
.movies{
  display: flex;
  flex-wrap: wrap;
}
.movies img{
  width: 100%;
}
footer{
  text-align: center;
}
